@charset "UTF-8";

html {
	--topbar-height: 64px;
}

body {
	background: #E2E2E2 url(/assets/img/body-back.png) repeat-x top;
	font-family: Ubuntu,'Noto Sans','Liberation Sans',FreeSans,Arial,sans-serif;
	padding: 0;
	margin : 0;
	text-align: center;
}

/* main structure, centering of the site and min/max width */
.skeleton {
	max-width: 1260px;
	min-width: 826px;
	margin: 0 auto;
}

a:active, a:focus { outline: none; }
p { margin: 0; }
table { margin-left: 30px; margin-right: 30px; font-size: 14px; }
table, th, td { border: 1px #62B7EE solid; border-collapse: collapse; }
th, td { padding: 3px 20px 3px 8px; }
th { background-color: #E8F3FA; color: #0044AA; }
iframe { border: 1px #0044AA solid; }

/* ungrid */
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

/* main structure */
#topbar {
	background-color: #333333;
	text-align: left;
	height: var(--topbar-height);
	color: #FFFFFF;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
	display: block;
	box-shadow: 0 2px 4px rgba(10,10,10,0.5);
	transition: top 0.5s;
}

#logo {
	float: left;
	padding-top: 12px;
	padding-left: 17px;
}
#logo a { color: #FFFFFF; text-decoration: none; }
#logo a:hover { color: #FFFFFF; text-decoration: none; }

#menulist {
	float: right;
	list-style: none;
	margin: 0;
	line-height: var(--topbar-height);
	padding-left: 0;
	padding-right: 12px;
}
#menulist li {
	float: left;
	font-size: 15px;
	margin-left: 16px;
}
#menulist li a {
	display: inline-block;
	height: var(--topbar-height);
	color:#999999;
	font-weight: bold;
	text-decoration: none;
	padding: 0 6px;
	transition: color 0.2s ease-in-out;
}
#menulist li a:hover { color: #FFFFFF; }

#menu.menu-home ul #menu-home a,
#menu.menu-newsy ul #menu-newsy a,
#menu.menu-poradniki ul #menu-poradniki a,
#menu.menu-forum ul #menu-forum a,
#menu.menu-kontakt ul #menu-kontakt a,
#menu.menu-pobierz ul #menu-pobierz a { color: #FFFFFF; }

/* main structure */
#main {
	text-align: left;
	background-color: #F2F2F2;
	margin-top: var(--topbar-height);
}
/* main structure for the homepage */
#main-homepage {
	text-align: left;
	background-color: #D1EAFF;
}

/* nice header image on the top of the home page */
#xubuntu-strip {
	background: #005C9A url(/assets/img/xubuntu-strip.png) no-repeat center;
	height: 350px;
	border-bottom: 10px #0044AA solid;
}

/* floating panel with Xubuntu versions */
#versionbar {
	float: right;
	background-color: #0044AA;
	text-align: right;
	color: #FFFFFF;
	height: 37px;
	line-height: 37px;
	font-size: 12px;
	font-weight: normal;
	margin: 23px 18px 0 0;
	padding: 0 12px;
	box-shadow: 0 0 6px rgba(30,50,70,0.5);
	border-radius: 4px;
}
#versionbar a { color: #FFFFFF; font-weight: bold; text-decoration: none; }
#versionbar a:hover,
#versionbar a:active,
#versionbar a:focus { color: #FFFFFF; font-weight: bold; text-decoration: none; }
.versionbar-sep { color: #4DABFF; padding: 0 10px 0 10px; }

#content {
	color: #444444;
	padding: 30px 18px 35px 18px;
	margin: 0;
	font-size: 15px;
	line-height: 1.65;
}
#content a {
	color: #2c82dd;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
#content a:hover { color: #13385E; border-bottom: 1px solid #3c3c3c; }
#content a:active { color: #EE9900; border-bottom: 1px solid #EE9900; transition: none; }

/* main header, on top of 'content' */
#welcome {
	color: #0044AA;
	font-size: 25px;
	margin-bottom: 30px;
	line-height: 1;
}
/* remove underscore from the header links */
#welcome a { border-bottom: none; }
#welcome a:hover { border-bottom: none; }
#welcome .arrow-back { padding-right: 10px; }
#welcome .arrow-next { padding-left: 10px; }

.infoframe {
	background-color: #FFFFFF;
	color: #444444;
	font-size: 15px;
	line-height: 1.65;
	padding: 20px 21px;
	box-shadow: 2px 2px 6px rgba(65,65,65,0.15);
	border-radius: 0 6px 6px 0;
}
.infoframe hr { color: #D4D4D4; border: 2px solid; margin: 32px 0; }

.ifsky { border: 1px solid #E2E2E2; border-radius: 6px; }
.ifsky p { color: #4297CE; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }

/* color stripes on the left side of the 'infoframe' and 'infoframe' color headers */
.ifblue { border-left: 10px solid #004D9E; }
.ifblue p { color: #004D9E; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
.ifgreen { border-left: 10px solid #5B9B26; }
.ifgreen p { color: #5B9B26; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
.ifpink { border-left: 10px solid #CC4E83; }
.ifpink p { color: #CC4E83; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
.ifgrey { border-left: 10px solid #D4D4D4; }
.ifgrey p { color: #555555; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
.ifdark { border-left: 10px solid #333333; }
.ifdark p { color: #333333; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
.ifred { border-left: 10px solid #CD3D1E; }
.ifred p { color: #CD3D1E; font-size: 22px; line-height: 1; padding: 0 0 13px 0; margin: 0; }
/* warning infoframe, without <p>, smaller padding */
.ifwarning {
	padding: 11px 11px 11px 20px;
	line-height: 1.45;
	border-left: 10px solid #CD3D1E;
}

/* yellow "retro look" frame to highligh some information, without <p> */
.retroframe {
	background-color: #F9EDBE;
	color: #555555;
	font-size: 15px;
	line-height: 1.5;
	border: 1px solid #E5CF7B;
	border-radius: 10px;
	padding: 16px 18px;
	box-shadow: 3px 3px 6px rgba(100,100,100,0.2);
}

h1 { color: #0044AA; font-weight: normal; font-size: 23px; padding: 0; margin: 15px 0; }
h2 { color: #444444; font-weight: normal; font-size: 20px; padding: 0; margin: 10px 0; }
h3 { color: #555555; font-weight: bold; font-size: 17px; padding: 0; margin: 8px 0 6px 0; }

/* nice and simple button */
a.button {
	display: inline-block;
	margin-right: 16px;
	padding: 14px 11px;
	font-size: 15px;
	line-height: 1;
	background-color: #FFFFFF;
	border-bottom: 2px solid #CCCCCC !important;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
	border-radius: 4px;
}
a.button:hover,
a.button:active {
	color: #13385E !important;
	border-bottom: 2px solid #999999 !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
a.button.primary { border-bottom: 2px solid #7CB8F7 !important; }
a.button.primary:hover { border-bottom: 2px solid #2C82DD !important; }
a.button::after {
	display: block;
	float: right;
	content: "›";
	font-weight: 300;
	font-size: 140%;
	margin: -5px 0 -5px 10px;
	color: #555;
}
/* soft-wrap buttons in one row */
#many-buttons-row { margin-top: 10px; margin-bottom: 4px; }
.wrap-gap.button { margin-top: 14px; }

/* tooltip information nested in text, used in <span> */
.text-tooltip {
	cursor: help;
	color: #000000;
	padding-bottom: 1px;
	border-bottom: 1px #0044AA dashed;
}

/* for terminal commands or code, in <div> */
.codeframe {
	background-color: #444444;
	color: #EEEEEE;
	font-size: 15px;
	font-family: 'Ubuntu Mono','Noto Mono','Liberation Mono',Monospace,Verdana;
	line-height: 1.2;
	word-break: break-word;
	display: inline-block;
	min-width: 600px;
	border-left: 20px solid #A2A2A2;
	padding: 10px 13px;
	margin: 16px 0 16px 60px;
	box-shadow: 3px 3px 8px rgba(52,52,52,0.6);
}
/* nice $ symbol before the command */
.codeframe::before {
	display: block;
	float: left;
	content: "$";
	font-weight: bold;
	margin-left: -26px;
	padding:0;
	color: #555;
}
.codeframe-top { margin: 16px 0 6px 60px; }
.codeframe-middle { margin: 0 0 6px 60px; }
.codeframe-bottom { margin: 0 0 16px 60px; }

/* inline code and commands */
.text-code {
	background: #333333;
	padding: 3px 5px;
	color: #EEEEEE;
	font-family: 'Ubuntu Mono','Noto Mono','Liberation Mono',Monospace,Verdana;
}

/* text/code in Mousepad colors, section in <div> */
.txtframe {
	background: #EEF1FC;
	color: #1F3566;
	font-size: 15px;
	font-family: 'Ubuntu Mono','Noto Mono','Liberation Mono',Monospace,Verdana;
	line-height: 1.2;
	display: inline-block;
	min-width: 618px;
	border: 1px solid #0044AA;
	padding: 10px 15px;
	margin: 16px 0 16px 60px;
}
/* inline text/code in Mousepad colors */
.text-txt {
	background: #E6EBFD;
	padding: 4px 4px;
	color: #1F3566;
	border-radius:4px;
	font-family: 'Ubuntu Mono','Noto Mono','Liberation Mono',Monospace,Verdana;
}

/* screenshots of the LTS version on the home page */
#screeny-lts {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 14px 0 30px 0;
	text-align: center;
	line-height: 1.0;
}
#screeny-lts a { border-bottom: none; }
#screeny-lts a:hover { border-bottom: none; }
#screeny-lts img { margin-top: 18px; border: 8px #ffffff solid; width: 360px; box-shadow: 0 0 22px rgba(255,255,255,1); }

/* wallpaper grid for 'tapety.html' */
.tapety { text-align: center; }
.tapety img {	width: 210px; }
.tapety a {
	display: inline-block;
	text-align: left;
	color: #0044AA;
	font-size: 12px;
	padding: 8px 8px 5px 8px;
	background-color: #D8D8D8;
	border-bottom: none;
	margin: 13px 13px 0 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-bottom: none !important;
	border-radius: 4px;
}
.tapety a:hover,
.tapety a:focus {
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
	border-bottom: none !important;
}

/* news date in the top-right corner of the 'infoframe' */
.news-data {
	float: right;
	color: #999;
	font-size: 14px;
	padding-right: 4px;
}

.lista-porad {
	padding: 6px 0 0 0;
	list-style: none;
	margin: 0;
}
.lista-porad li {
	padding-left: 25px;
	font-size: 16px;
}
/* grey dot before the guide title on the list and before some links in news*/
.gdot { color: #AFAFAF; margin-right: 5px; }
/* section in the guides list */
.podrozdzial {
	color: #787878;
	padding: 12px 0 2px 24px !important;
	font-size: 18px;
	font-weight: bold;
}
/* "new" flair on the guides list */
.poradnik-nowy { font-weight: bold; font-size: 10px; text-transform: uppercase; padding-left: 13px; color: #DD0000; }

/* author and date on top-right of the guide */
.poradnik-autor { float: right; text-align: right; padding: 0; line-height: 1.3; color: #898989; font-size: 12px; }
.poradnik-folder { background: #F4FFF4; padding: 2px 5px; color: #669966; }

/* screenshots - windows with small shadow and with borders*/
.poradnik-screen,
.poradnik-screen-ramka {
	text-align: center;
	line-height: 1.0;
}
.poradnik-screen img { max-width: 100%; box-shadow: 5px 5px 16px rgba(60,60,60,0.3); }
.poradnik-screen-ramka-left { line-height: 1.0; }
.poradnik-screen-ramka img,
.poradnik-screen-ramka-left img { max-width: 100%; border: 8px #D4D4D4 solid; }
.poradnik-screen-ramka a,
.poradnik-screen-ramka-left a { border-bottom: none !important; }
.poradnik-screen-ramka a:hover,
.poradnik-screen-ramka-left a:hover { border-bottom: none !important; }

/* link to the proper forum/mail/subreddit on the bottom of the guide */
#poradnik-komentarze {
	text-align: center;
	font-style: oblique;
}
#poradnik-komentarze a { color: #0044AA; }

/* header for the application name in 'dodatkowe-programy.html' */
.app-header { color: #444444; font-weight: normal; font-size: 22px; padding: 0; margin: 10px 0; }
.app-header img { vertical-align: middle; padding: 0 7px 3px 0; }

/* main structure */
#bottom {
	border-top: 2px solid #C9C9C9;
	text-align: left;
	background-color: #E2E2E2;
}

/* arrow in the footer (bottom-right), back to the top link */
#up-arrow { float: right; margin: 14px 18px 0 0; }
#up-arrow a { border-bottom: none; }

#footer {
	color: #555555;
	font-size: 12px;
	line-height: 1.0;
	padding: 18px 18px;
}
#footer a {
	color: #555555;
	text-decoration: none;
	border-bottom: none;
	margin-left: 7px;
	transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
#footer a:hover {
	color: #2C82DD;
	border-bottom: 1px solid #2C82DD;
}
